@charset "utf-8";
@font-face {
    font-family: 'HechoAMano';
    src: url(../font/HechoAMano/HechoAMano-Regular.ttf)
}
@font-face {
    font-family: 'franklin_gothic';
    src: url(../font/franklin_gothic/framd.ttf);
}
@font-face {
    font-family: 'AppleSDGothicNeoM';
    src: url(../font/AppleSDGothicNeo/AppleSDGothicNeoM.ttf);
}
@font-face {
    font-family: 'AppleSDGothicNeoEB';
    src: url(../font/AppleSDGothicNeo/AppleSDGothicNeoEB.ttf);
}
:root {
    /* ===== color ===== */
    --background-color: #efecea;
    --main-yellow-color: #fff200;
    --lighter-yellow-color: #fffbb3;
    --main-black-color: #111111;
    --white-color: #eeeeee;
    --gray-color: #666666;
    --blue-clolr: #1c75bc;
    --dark-yellow-color: #f1d11c;
    --dot-pink-color: #dc6398;
    --dot-red-color: #dd4e5c;
    --dot-blue-color: #008ba7;
    --dot-green-color: #04976a;
    --arrowup-background-color: #fff200a6;

    /* ===== typography ===== */
    --franklin_gothic-font: 'franklin_gothic';
    --hechoAMano-font: 'HechoAMano';
    --AppleSDGothicNeoM-font: 'AppleSDGothicNeoM';
    --AppleSDGothicNeoEB-font: 'AppleSDGothicNeoEB';
    
    --uppercase-font: uppercase;

    --big-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;

    /* ===== z-index ===== */





    /* ===== margin ===== */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}



/* ===== reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
button {
    cursor: pointer;
}

/* ===== reusable ===== */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__title {
    text-transform: var(--uppercase-font);
    padding: 2rem 0;
    font-family: var(--hechoAMano-font);
    font-size: var(--big-font-size);
}
.about__sub-title {
    text-transform: var(--uppercase-font);
    font-family: var(--AppleSDGothicNeoEB-font);
    font-size: var(--h2-font-size);
    position: relative;
    display: inline-block;
}
.about__sub-title:before {
    content: '';
    width: 100%;
    height: 10px;
    background: var(--main-yellow-color);
    position: absolute;
    bottom: 30%;
    left: 0;
}
/* ===== common ===== */
body {
    color: var(--main-black-color);
    background: var(--background-color);
    font-family: var(--AppleSDGothicNeoM-font);
}
/* ===== layout ===== */
.inner {
    /* max-width: 768px;
    min-width: 360px;
    padding: 0 3rem; */
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

/* ===== header ===== */
#header {
    text-transform: var(--uppercase-font);
}
#header__small {
    width: 100%;
    padding: 1rem 3rem ;
    background: var(--main-yellow-color);

}
.logo {
    font-size: var(--h1-font-size);
    font-family: 'franklin_gothic';
}
/* fixed header */

#header__small.fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem 3rem;
}
.logo.fixed {
    font-size: var(--h3-font-size);
}
/* .gnb.fixed {
    position: absolute;
    top: -16%;
    right: 0;
}
.gnb.fixed .gnb__menu:before {
    background: var(--main-black-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15%;
    width: 5px;
    height: 5px;
} */

/* ===== fixed end ===== */
#header__big {
    height: 300px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}
.header__big__inner {
    position: relative;
}
.header__text {
    font-family: var(--hechoAMano-font);
    font-size: var(--big-font-size);
    position: absolute;
    bottom: 5%;
    left: 0;
}
.gnb {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 10%;
}
.gnb__item {
    margin-left: 2rem;
}
.gnb__menu:hover:before {
    display: block;
}
.gnb__menu:before {
    display: none;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--main-yellow-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}
.gnb__menu {
    font-size: var(--h3-font-size);
    position: relative;
}

/* ===== section.home ===== */
#home {
    height: calc(100vh - 70px);
    margin-top: -300px;
    border-bottom: 1px solid #000;
}

/* ===== section.about ===== */
#about {
    height: calc(100vh - 45px);
    background: green;
}
.about__container {
    background: pink;
    display: flex;
    
    /* position: relative; */
}
.about__img {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    border: 1px solid #000;
}
.about__profile {

}


/* ===== arrow up ===== */
#arrowup {
    position: fixed;
    bottom: 5%;
    right: 7%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--arrowup-background-color);
    cursor: pointer;
    display: none;
}
.uil-arrow-up {
    font-size: 2rem;
    color: var(--main-black-color);
    margin-top: 5px;
}
#arrowup.visible {
    display: block;
}
